body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-style: 'Lato', sans serif;
}

h2 {
    font-size: 1.2rem;
}

py-1 {
    padding: 1.2rem;
}

div#section1 {
    background-color: #1abc9c;
}

div#section2 {
    background-color: #474e5d;
    color: #fff;
}

div#section3 {
    background-color: #ffffff;
    color: #333;
}

div#section4 {
    background-color: #242424;
    color: #fff;
}


.flex-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-align: center;
    /* padding: 1.5rem; */
}

footer{
    text-align: center;
    background-color: #2f2f2f;
    color: white;
}

.flex > h2 {
    margin: 1.5rem;
}

.light-red {
    background-color: #f2dede;
}

.light-green {
    background-color: #dff0d8;
}

#section1 img {
    margin: 1.2rem;
}

#section2 h2 {
    margin: 1.2rem;
}

#section3 > h2 {
    margin: 1.2rem;
}

#section4 p.card-text {
    color: #242424;
}

@media only screen and (min-width: 1200px ) {
    .video {
        width: 50vw;
    }
}



